<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
      <title>Ruby Rolodex</title>
    </head>
    <body>
    
        <h1>Contacts</h1>
        
        <table border="1">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nickname</th>
            <th>Type</th>
            <th>Address</th>
            <th> </th>
          </tr>
          
          <% @contacts.each do |contact| %>
              <tr>
               <td><%= link_to contact.firstname, :action => "show", :id => contact.id %></td>
               <td><%= link_to contact.lastname, :action => "show", :id => contact.id %></td>
               <td><%= link_to contact.nickname, :action => "show", :id => contact.id %></td>   
               <td><%= contact.contact_type.name %></td>
               <td><% if contact.address == nil %>
                        <%= link_to 'Address unknown', :controller => "address", :action => "new", :id => contact.id %>
                   <% else %>
                        <%= link_to contact.address.city + ', ' + contact.address.state, {:controller => "address", :action => "show", :id => contact.address_id, :contactid => contact.id}  %>
                   <% end %>
               </td>
               <td><%= link_to "edit", :action => "edit", :id => contact.id %>   
                   <%= link_to "delete", {:action => "destroy", :id => contact.id}, :confirm => "Really delete #{contact.nickname}?" %></td>   
              </tr>
          <% end %></table>
        <br />
        
        <a href="/contact/new">Add a new contact</a><BR>
        
        <a href="/contact_type/list">Modify rolodex contact types</a>
    
    </body>
</html>