<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
      <title>Ruby Rolodex</title>
    </head>
    <body>
       <h1>Edit address for: <%= @contact.lastname + " (" + @contact.nickname + ")" %> </h1>
    
	    <form action="/contact/update/<%= @contact.id %>" method="post">
	        <p>
	            <label for="address_street">Street</label><br />
	            <input id="address_street" name="address[street]" size="45" MAXLENGTH="45" type="text" value="<%= @address.street %>"/><BR>
	            <input id="address_street2" name="address[street2]" size="45" MAXLENGTH="45" type="text" value="<%= @address.street2 %>"/>
	        </p>
	        <p>
	            <label for="address_city">City</label><br />
	            <input id="address_city" name="address[city]" size="25" MAXLENGTH="45" type="text" value="<%= @address.city %>"/>
	        </p>           
	        <p>
	            <label for="address_state">State</label><br />
	            <input id="address_state" name="address[state]" size="2" MAXLENGTH="2" type="text" value="<%= @address.state %>"/>
	        </p>
	        <p>
	            <label for="address_zip">Zip</label><br />
	            <input id="address_zip" name="address[zip]" size="5" MAXLENGTH="5" type="text" value="<%= @address.zip %>"/>
	        </p>
	             
	        <input name="commit" type="submit" value="Update" />
	    </form>
	    
	    <%= link_to "Delete this address", {:action => "destroy", :id => @address.id}, :confirm => "Really delete this address?" %><br>
	    <a href="/contact/list">Back to contact list</a>
    
    </body>
</html>