<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
      <title>Ruby Rolodex</title>
    </head>
    <body>
    
        <h1>Addresses</h1>
        
        <table border="1">
          <tr>
            <th>Street</th>
            <th> </th>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
            <th> </th>
          </tr>
          
          <% @addresses.each do |address| %>
              <tr>
               <td><%= link_to address.street, :action => "show", :id => address.id %></td>
               <td><%= link_to address.street2, :action => "show", :id => address.id %></td>
               <td><%= link_to address.city, :action => "show", :id => address.id %></td>
               <td><%= link_to address.state, :action => "show", :id => address.id %></td>
               <td><%= link_to address.zip, :action => "show", :id => address.id %></td>
               <td><%= link_to "edit", :action => "edit", :id => address.id %>   
                   <%= link_to "delete", {:action => "destroy", :id => address.id}, :confirm => "Really delete this address?" %></td>   
              </tr>
          <% end %></table>
        <br />
        
        <a href="/contact/list">Return to contacts</a>
    
    </body>
</html>