<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	  <title>Ruby Rolodex</title>
	</head>
	<body>
		<h1>Address for: <%= @contact.lastname + " (" + @contact.nickname + ")" %> </h1>
	    <%= @address.street %><br>
	    <%= @address.street2 %><br>
	    <%= @address.city %>, 
	    <%= @address.state %>
	    <%= @address.zip %><br><br>

	<%= link_to "Edit", {:action => "edit", :id => @contact.address_id, :contactid => @contact.id} %><br>
	<a href="/contact/list">Back to contact list</a>
    </body>
</html>
