<h1>Editing Pet Owner</h1>

<% form_for(@pet_owner) do |f| %>

  <%= render :partial => "pet_owner_editor", :locals => { :f => f, :mode => "edit" } %>

<% end %>

<%= link_to 'Show', @pet_owner %> |
<%= link_to 'Back', pet_owners_path %>
