<% form_tag '/' + controller, :method => :get do %>

  Filter by: <%= select_tag "filter_id", options %> 

  <%= observe_field("filter_id",
                 :frequency => 0.25,
                 :update => :display_filter_field_div,
                 :url => { :controller => controller, :action => :display_filter_value_field },
                 :with => 'filter_id') %>

  Value: 
  <div id="display_filter_field_div">
  
    <%= display_filter_value_field1(filter_id) %>

  </div>

  <%= submit_tag 'Filter' %>

<% end %>
