<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>Grooming Salon</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
  </head>

  <body>

    <div id="page">
      <div id="header">Grooming Salon</div>

      <div id="content">
        <%= @content_for_layout %>
      </div>
      
      <div id="footer">Copyright &copy; 2008 Dream Programs Inc.</div>

    </div>

 </body>
</html>