<h1>Edit Company</h1>

<% form_for(@company) do |f| %>

  <%= render :partial => "company_editor", :locals => { :f => f, :label_text => "Update"} %>

<% end %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
