<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
      <title>Ruby Rolodex</title>
    </head>
    <body>
        <h1>Edit contact</h1>
    
	    <form action="/contact/update/<%= @contact.id %>" method="post">
	        <input id="contact_id" name="contact[id]" size="30" 
	             type="hidden" value="<%= @contact.id %>" />
	        <p>
	            <label for="contact_firstname">First Name</label><br />
	            <input id="contact_firstname" name="contact[firstname]" size="30" type="text" value="<%= @contact.firstname %>" />
	        </p>
	        <p>
	            <label for="contact_lastname">Last Name</label><br />
	            <input id="contact_lastname" name="contact[lastname]" size="30" type="text" value="<%= @contact.lastname %>" />
	        </p>
	        <p>
	            <label for="contact_nickname">Nickname</label><br />
	            <input id="contact_nickname" name="contact[nickname]" size="30" type="text" value="<%= @contact.nickname %>"/>
	        </p>
	        <p>
	             <b>Contact Type:</b><br/>
	             <select name="contact[contact_type_id]">
	                 <% @contact_types.each do |contact_type| %>
	                   <option value="<%= contact_type.id %>"<%= ' selected' if contact_type.id == @contact.contact_type_id %>>
	                      <%= contact_type.name %>
	                   </option>
	                 <% end %>
	             </select>    
	        </p>
	             
	        <input name="commit" type="submit" value="Update" />
	    </form>
	    
	    <a href="/contact/list">Back to contact list</a>
    
    </body>
</html>