<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	  <title>Ruby Rolodex</title>
	</head>
	<body>
	    <%= @contact.firstname %> <%= @contact.lastname %> (<%= @contact.nickname %>)<br>
	    <% if @contact.address != nil %>
		    <%= @contact.address.street %><br>
		    <%= @contact.address.street2 %><br>
		    <%= @contact.address.city %>, 
		    <%= @contact.address.state %>
		    <%= @contact.address.zip %><br><br>
		<% else %>
		  Address unknown<br><br>
		<% end %>
	<%= link_to "Edit", {:action => "edit", :id => @contact.id} %><br>
	<a href="/contact/list">Back to contact list</a>
    </body>
</html>