<h1>Editing pet</h1>

<% form_for(@pet) do |f| %>

  <%= render :partial => "pet_editor", :locals => { :f => f, :mode => "edit" } %>

<% end %>

<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>
