<h1>Edit Groomer</h1>

<% form_for(@groomer) do |f| %>

  <%= render :partial => "groomer_editor", :locals => { :f => f, :mode => "edit" } %>

<% end %>

<%= link_to 'Show', @groomer %> |
<%= link_to 'Back', groomers_path %>
