@page { 
size: 4.18in 6.88in;
margin: 0.25in; 
-fs-flow-top: "header";
-fs-flow-bottom: "footer";
-fs-flow-left: "left";
-fs-flow-right: "right";
border: thin solid black;
padding: 1em;
}

#header {
font: bold serif;
position: absolute; top: 0; left: 0; 
-fs-move-to-flow: "header";
}

#footer {
font-size: 90%; font-style: italic; 
position: absolute; top: 0; left: 0;
-fs-move-to-flow: "footer";
}

#pagenumber:before {
content: counter(page); 
}

#pagecount:before {
content: counter(pages);  
}


        html {
            background-color: #339;
        }

        body {
            margin: 0px;
	    padding: 0px;
            background-color: white;
            font-family: Garamond; font-size: 9pt;
        }

        .dropcap {
            color: #88A; /* body = 12, line = 12*3, size = 12*4 */
        /* body = 14, line = 14*3, size = 14*4 */
            font-size: 36pt;
            /*
            line-height: 40pt;
            font-family: Abbess;
            */
            float: left;
            width: 42px;
            text-align: center;
        }

        img {
            border: 0px;
        }

        h1, h2 {
            font-family: PenultimateLight;
            font-weight: normal;
        }

        h1 {
            border: 0px solid #339;
            border-width: 0px 0px 2px 0px;
            font-size: 3em;
            text-align: right;
        }

        p.figure {
            border: 0px solid red;
            float: left;
            clear: both;
            padding: 0px 15px;
            margin: 0px;
            width: 200px;
            page-break-inside: avoid;
        }

        p.figure img {
            text-align: center;
        }

        p.figure b {
            text-align: center;
            font-style: italic;
            font-weight: normal;
            font-family: sans-serif;
        }

        p {
            text-indent: 20px;
        }

        p.figure, p.dropcap-holder {
            text-indent: 0px;
        }

        .left-link {
            font-size: 12pt;
            width: 11em;
            margin-left: 30px;
            text-indent: 0px;
        }

        .right-link {
            font-size: 12pt;
            width: 11em;
            margin-right: 30px;
            text-indent: 0px;
        }

