<h1>Available actions:</h1>
<table>
  <tr>
    <td>
    <a href="groomers">Manage Groomers</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="pet_owners">Manage Pet Owners</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="pets">Manage Pets</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="appointments">Manage Appointments</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="reports">Build Report</a>
    </td>
  </tr>

</table>

