<table>
  <tr>
    <td>
    <a href="companies">Companies</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="groomers">Groomers</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="pet_owners">Pet Owners</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="pets">Pets</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="appointments">Appointments</a>
    </td>
  </tr>

  <tr>
    <td>
    <a href="reports">Reports</a>
    </td>
  </tr>

</table>

