<%= '<font color="red">'+@auth_error+'</font><hr />' if @auth_error %>

<% form_tag(:action => 'login') do %>

  <table>
    <tr>
      <td>
        Login:
      </td>

      <td>
        <%= text_field_tag :login, params[:login] %>
      </td>
    </td>

    <tr>
      <td>
        Password:
      </td>

      <td>
        <%= password_field_tag :password, params[:password] %> <!-- check_box_tag :remember %> Remember me-->
      </td>
    </td>

    <tr>
      <td colspan="2">
        <%= submit_tag "Log in" %>
      </td>
    </td>
  </table>  
  
<% end %>
