#header {
  float:left;
  width:100%;
  background:#DAE0D2 url("../img/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:normal;
}

#header ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
}

#header li {
  float:left;
  background:url("../img/left.gif") no-repeat left top;
  margin:0;
  padding:0 10 0 9px;
}

#header a {
  display:block;
  background:url("../img/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
}

#header a:hover {
  color:#333;
}

#header #current {
  background-image:url("../img/left_on.gif");
}

#header #current a {
  background-image:url("../img/right_on.gif");
  color:#333;
  padding-bottom:5px;
}
