<h1>Edit Appointment</h1>

<% form_for(@appointment) do |f| %>

  <%= render :partial => "appointment_editor", :locals => { :f => f, :label_text => "Update"} %>

<% end %>

<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>
