<h1>New Appointment</h1>

<% form_for(@appointment) do |f| %>

  <%= render :partial => "appointment_editor", :locals => { :f => f, :label_text => "Create"} %>

<% end %>

<%= link_to 'Back', appointments_path %>
